@page "{handler?}"
@model Clean.UI.Pages.Security.ChangePasswordModel
@using System.Web
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Pages/Shared/_MasterLayout.cshtml";
}

@Html.AntiForgeryToken()
    <div class="panel panel-flat" >
        <div class="panel-heading">
            <div class="panel-title">
                @ViewData["Title"]
            </div>
        </div>

        <div class="panel-body">
            <form id="dv_Security_ChangePassword" class="form main-form page-component" type="form" prefix="cp">
                <fieldset class="content-group">
                    <legend class="text-bold">جهت تغییر رمز عبور خویش از این صفحه استفاده نمائید</legend>
                    <input type="hidden" id="cpusername" name="cpUserName" value="@Model.CurrentUser" />
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="form-group">
                                <label class="text-bold">
                                    رمز عبور
                                </label>
                                <input type="password" id="cpcurrentpassword" name="cpCurrentPassword" class="form-control search" placeholder="لطفا رمز عبور فعلی خود را تایپ نمائید" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="form-group">
                                <label class="text-bold">
                                    رمز عبور جدید
                                </label>
                                <input type="password" id="cpnewpassword" name="cpNewPassword" class="form-control search" placeholder="لطفا رمز عبور جدید خود را تایپ نمائید" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="form-group">
                                <label class="text-bold">
                                    تائید رمز عبور جدید
                                </label>
                                <input type="password" id="cpnewpasswordconfirmation" name="cpNewPasswordConfirmation" class="form-control search" placeholder="رمز عبور جدید خویش را مجددا تایپ نمائید" required />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />

                <div class="row div-form-control main-form-detail">
                    <div class="col-md-12">
                        <div class="form-group actions">
                            <button type="button" asp-page-handler="Save" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>@ViewData["Title"]</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

        @section PageScripts  {

            <script>

    $(document).ajaxSuccess(function (event, request, settings) {

        console.log(request.responseJSON.status);

        if (request.responseJSON.status == 1) {
             window.ApplicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
            var timer = setTimeout(function () { window.location = window.ApplicationBaseUrl + 'Security/Logout' }, 1000);
        }
    });
            </script>

        }
