@page "{handler?}"
@model Clean.UI.Pages.Security.RolesModel
@{
    ViewData["Title"] = "نقش";


    Layout = "~/Pages/Shared/_MasterLayout.cshtml";
}

@Html.AntiForgeryToken()
    <div class="panel panel-flat" >
        <div class="panel-heading">
            <h1 class="panel-title">تنظیمات حقوق و نقش ها</h1>
        </div>
        <div class="panel-body">

            <form id="dv_Security_Roles" class="form main-form page-component" type="form" prefix="ux">
                <fieldset class="content-group">
                    <legend>برای ایجاد نقش ها از این فورم استفاده نمائید</legend>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 ">




                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    نام نقش
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxrolename" name="uxRoleName" type="text" class="form-control search" placeholder='نام نقش' required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <div class="row div-form-control">
                    <div class="col-md-12">
                        <div class="form-group actions">

                            <button type="button" action="save" class="btn btn-primary"><i class="icon-floppy-disk position-left"></i> ثبت @ViewData["Title"]  </button>
                            <button type="button" action="search" class="btn btn-primary"><i class="icon-search4 position-left"></i>جستجو @ViewData["Title"]</button>

                        </div>
                    </div>
                </div>


                <div class="form-grid main-form-details">
                    <table  bindonclick="true">
                        <thead>
                            <tr>
                                <th colname="rolename">نام نقش</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </form>

        </div>

        <div class="page-sidebar page-component" type="actionmenu">
            <ul class="navigation navigation-alt navigation-accordion">
                @Html.Raw(@Model.SubScreens)
            </ul>
        </div>
    </div>