@page "{handler?}/{id?}"
@model Clean.UI.Pages.Passport.Authorization.CriminalRecordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "CriminalRecord";
    Layout = null;
}

@Html.AntiForgeryToken()

<div class="panel panel-flat" >
    <div class="panel-heading">
        <h1 class="panel-title">@_localizer["ثبت سابقه جرمی"]</h1>
    </div>
    <div class="panel-body">

        <form id="dv_Passport_Authorization_CriminalRecord" class="form sub-form page-component" type="form" parent="dv_Passport_Authorization_Profile" parentcol="ProfileId" prefix="uxcr">
            <fieldset class="content-group">
                <legend>@_localizer["جهت ثبت سابقه جرمی متقاضی از این بخش استفاده نمایید"]</legend>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["نوعیت جرم"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxcrcrimetypeid" name="uxcrCrimeTypeID" asp-items="@Model.ListOfCrimeType" class="select" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["تاریخ جرم شمسی"]
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                <input type="text" id="uxcrdateshamsi" name="uxcrDateShamsi" class="form-control Shamsi" sibling="uxcrdate" placeholder="@_localizer["تارخ جرم شمسی"]" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["تاریخ جرم"]
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                <input type="text" id="uxcrdate" name="uxcrDate" class="form-control Miladi" sibling="uxcrdateshamsi" placeholder="@_localizer["تاریخ جرم میلادی"]" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 col-sm-4 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["جزئیات جرم"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <textarea rows="5" id="uxcrdescription" name="uxcrdescription" class="form-control" required></textarea>
                        </div>
                    </div>
                </div>

            </fieldset>
            <hr />
            <div class="row div-form-control">
                
            </div>

            <div class="form-grid main-form-details">
                <table  bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="crimetype">@_localizer["نوعیت"]</th>
                            <th colname="dateshamsi">@_localizer["تاریخ"]</th>
                            <th colname="date">@_localizer["تاریخ"]</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </form>
    </div>
</div>
