@page "{handler?}/{id?}"
@model Clean.UI.Pages.Passport.Register.AddressModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Address";
    Layout = null;
}

@Html.AntiForgeryToken()

<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">@_localizer["ثبت آدرس شخص"]</h1>
    </div>
    <div class="panel-body">

        <form id="dv_Passport_Register_Address" class="form sub-form page-component" type="form" parent="dv_Passport_Register_Profile" parentcol="ProfileId" prefix="uxad">
            <fieldset class="content-group">
                <legend>@_localizer["جهت ثبت آدرس متقاضی از این بخش استفاده نمایید"]</legend>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12 pull-right">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                @_localizer["نوعیت آدرس"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxadaddresstypeid" name="uxadAddressTypeID"  asp-items="@Model.ListOfAddressType" class="select search" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 pull-right">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                @_localizer["کشور"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxadcountryid" name="uxadCountryID" child="uxadprovinceid" asp-items="@Model.ListOfCountry" class="select search" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 pull-right">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                @_localizer["ولایت"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxadprovinceid" name="uxadProvinceID" data-type="Province" child="uxaddistrictid" class="select search" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 pull-right">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                @_localizer["ولسوالی"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxaddistrictid" name="uxadDistrictID" data-type="District" class="select search" required>
                                <option></option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-2 col-sm-4 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["شهر"]
                            </label>
                            <input type="text" id="uxadcity" name="uxadCity" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["قریه"]
                            </label>
                            <input type="text" id="uxadvillage" name="uxadVillage" class="form-control">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-4 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["آدرس مکمل"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <textarea rows="5" id="uxaddetail" name="uxadDetail" class="form-control" required ></textarea>
                        </div>
                    </div>
                </div>

            </fieldset>
            <hr />
            <div class="row div-form-control">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" action="save" class="btn btn-primary"><i class="icon-floppy-disk position-right"></i>@_localizer["ثبت معلومات"]</button>
                        <button type="button" action="new" class="btn btn-primary"><i class="icon-new-tab position-right"></i>@_localizer["صفحه جدید"]</button>
                    </div>
                </div>
            </div>

            <div class="form-grid main-form-details">
                <table style="direction:rtl" bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="addresstype">@_localizer["نوعیت"]</th>
                            <th colname="country">@_localizer["کشور"]</th>
                            <th colname="province">@_localizer["ولایت"]</th>
                            <th colname="city">@_localizer["شهر"]</th>
                            <th colname="detail">@_localizer["آدرس مکمل"]</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </form>
    </div>
</div>

