@page "{handler?}"
@model Clean.UI.Pages.Passport.Register.ProfileModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Profile";
}
    <div class="panel panel-flat" style="direction: rtl;">
        @Html.AntiForgeryToken()
        <div class="panel-heading">
            <h1 class="panel-title">@_localizer["درخواستی پاسپورت"]</h1>
        </div>
        <div class="panel-body" style="padding-bottom:5px;">
            <form id="dv_Passport_Register_Profile" class="form main-form page-component" type="form" prefix="ux">
                <fieldset class="content-group">
                    <legend class="text-bold">@_localizer["مشخصات شخص را وارد کنید"] </legend>
                    <input type="hidden" id="uxbid" />
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["کود"]
                                </label>
                                <input id="uxcode" name="uxCode" type="text" class="form-control search" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["عنوان"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxtitleid" name="uxTitleId" class="select" asp-items="@Model.ListOfTitles" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["نام"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxname" name="uxName" type="text" class="form-control search" lang="ps" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["تخلص"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxfamilyname" name="uxFamilyName" type="text" class="form-control search" lang="ps" required />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["نام پدر"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxfathername" name="uxFatherName" type="text" class="form-control " lang="ps" required />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["نام پدرکلان"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxgrandfathername" name="uxGrandFatherName" type="text" class="form-control " lang="ps" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["نام (انگلیسی)"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxnameen" name="uxNameEN" type="text" class="form-control search" lang="en" uppercase required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["تخلص (انگلیسی)"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxfamilynameen" name="uxFamilyNameEN" type="text" class="form-control search" lang="en" uppercase required />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["نام پدر (انگلیسی)"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxfathernameen" name="uxFatherNameEN" type="text" class="form-control " lang="en" uppercase required />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["نام پدرکلان (انگلیسی)"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxgrandfathernameen" name="uxGrandFatherNameEN" type="text" class="form-control " lang="en" uppercase required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["تاریخ تولد شمسی"]
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxdobshamsi" name="uxDobShamsi" class="form-control Shamsi" sibling="uxdateofbirth" placeholder="@_localizer["تارخ تولد شمسی"]" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["تاریخ تولد"]
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxdateofbirth" name="uxDateOfBirth" class="form-control Miladi" sibling="uxdobshamsi" placeholder="@_localizer["تاریخ تولد میلادی"]" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["ایمیل"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxemail" name="uxFirstName" type="text" class="form-control search" required />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["نمبر تلفن"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input id="uxphonenumber" name="uxPhoneNumber" type="text" class="form-control search" required />
                            </div>
                        </div>
                    </div>

                    <div class="main-form-details">
                        <hr />
                        <div class="row">

                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["جنسیت"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxgenderid" name="uxGenderId" class="select" asp-items="@Model.ListOfGenders" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["حالت مدنی"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxmaritalstatusid" name="uxMaritalStatusId" class="select" asp-items="@Model.ListOfMaritalStatus" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["قد"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <input id="uxheight" name="uxHeight" type="text" class="form-control" required />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["رنگ موی"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxhaircolorid" name="uxHairColorID" class="select" asp-items="@Model.ListOfHairColors" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["رنگ چشم"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxeyecolorid" name="uxEyeColorID" class="select" asp-items="@Model.ListOfEyeColors" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["جزئیات دیگر"]
                                    </label>
                                    <input id="uxotherdetail" name="uxOtherDetail" type="text" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="row nid-row">
                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right national-id">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["نوع تذکره"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxdocumenttypeid" name="uxdocumenttypeid" asp-items="@Model.ListOfDocumentTypes" class="select" required>
                                        <option></option>
                                    </select>
                                    <input type="hidden" id="uxnid" class="national-id-input" sibling="uxdocumenttypeid" name="uxnid" />
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["محل زندگی (کشور)"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxresidencecountryid" name="uxResidenceCountryID" asp-items="@Model.ListOfCountry" class="select" required>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["تابعیت دیگر"]
                                    </label>
                                    <select id="uxothernationalityid" name="uxOtherNationalityID" asp-items="@Model.ListOfCountry" class="select">
                                        <option></option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["محل تولد (کشور)"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxbirthcountryid" name="uxBirthCountryID" child="uxbirthprovinceid" asp-items="@Model.ListOfCountry" class="select" required>
                                        <option></option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
                                <div class="form-group">
                                    <label class="text-bold">
                                        @_localizer["محل تولد (ولایت)"]
                                        <span class="text-danger">&nbsp;*</span>
                                    </label>
                                    <select id="uxbirthprovinceid" name="uxBirthProvinceID" data-type="Province" class="select" required>
                                        <option></option>
                                    </select>

                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
                <hr />
                <div class="row div-form-control main-form-details">
                    <div class="col-md-12">
                        <div class="form-group actions">
                            <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-right"></i>@_localizer["ثبت معلومات"]</button>
                            <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-right"></i>@_localizer["جستجو"] </button>
                            <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-right"></i>@_localizer["صفحه جدید"]</button>
                        </div>
                    </div>
                </div>
                <div class="form-grid main-form-details">
                    <table style="direction: rtl;" bindonclick="true">
                        <thead>
                            <tr>
                                <th colname="code">@_localizer["کود"]</th>
                                <th colname="name">@_localizer["نام"]</th>
                                <th colname="familyname">@_localizer["تخلص"]</th>
                                <th colname="fathername">@_localizer["نام پدر"]</th>
                                <th colname="grandfathername">@_localizer["نام پدر کلان"]</th>
                                <th colname="gendertext">@_localizer["جنسیت"]</th>
                                <th colname="ResidenceCountryText">@_localizer["محل زندگی"]</th>
                                <th colname="DobShamsi">@_localizer["تاریخ تولد"]</th>
                                <th colname="birthcountrytext">@_localizer["کشور"]</th>
                                <th colname="birthprovincetext">@_localizer["ولایت"]</th>
                                <th colname="nidtext">@_localizer["سند هویت"]</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </form>
        </div>

        <div class="page-sidebar page-component" type="actionmenu">
            <ul class="navigation navigation-alt navigation-accordion">
                @Html.Raw(@Model.SubScreens)
            </ul>
        </div>
    </div>