@page "{handler?}/{id?}"
@model Clean.UI.Pages.Passport.Research.AttachmentModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Attachment";
    Layout = null;
}
@Html.AntiForgeryToken();
<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">@_localizer["اسناد و ضمایم"]</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">

        <form id="dv_Passport_Research_Attachment" class="form sub-form page-component" type="form" prefix="uxpd" parent="dv_Passport_Research_Profile" parentcol="ProfileId">
            <fieldset class="content-group">
                <legend class="text-bold">@_localizer["اسناد و ضمایم کارمند را ثبت، تغیر و حذف نمائید"]</legend>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                        <label class="text-bold">
                            @_localizer["نوع سند/ضمیمه"]
                            <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="form-group" style="direction:rtl;">
                            <select id="uxpdattachmenttypeid" name="uxpdAttachmentTypeId" asp-items="@Model.ListOfAttachmentType" class="select" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                        <label class="text-bold">
                            @_localizer["نمبر سند"]
                        </label>
                        <div class="form-group" style="direction:rtl;">
                            <input type="text" id="uxpddocumentnumber" name="uxpdDocumentNumber" class="form-control " />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                        <label class="text-bold">
                            @_localizer["تاریخ سند"]
                            <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="form-group" style="direction:rtl;">
                            <input type="text" id="uxpddocumentdateshamsi" sibling="uxpddocumentdate" name="uxpdDocumentDateShamsi" class="form-control Shamsi" />
                            <input type="hidden" id="uxpddocumentdate" sibling="uxpddocumentdateshamsi" name="uxpdDocumentDate" class="form-control Miladi" />
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 pull-left file-parent">
                        <label class="text-bold">
                            @_localizer["سند/ضمیمه را انتخاب نمائید"]
                            <span class="text-danger">&nbsp;*</span>
                        </label>
                        <div class="form-group">
                            <input type="file" id="uxpdattachement" name="attachement" class="file-attachment" data-show-upload="false" data-show-preview="false" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">@_localizer["ملاحضات"] </label>
                            <textarea id="uxpddescription" name="uxpddescription" rows="2" cols="2" class="form-control remarks"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control">
                
            </div>
            <div class="form-grid">
                <table style="direction: rtl;" bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="AttachmentType">@_localizer["نوع سند/ضمیمه"]</th>
                            <th colname="DocumentNumber">@_localizer["نمبر سند"] </th>
                            <th colname="DocumentDateShamsi">@_localizer["تاریخ ثبت سند/ضمیمه"]</th>
                            <th colname="path">@_localizer["فایل ثبت شده"]</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>

