@{ 
    bool IsRtl = true;
    IsRtl = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft;
}
<!DOCTYPE html>

<html dir="@(IsRtl ? "rtl" : "ltr")">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>@Clean.Common.AppConfig.ApplicationTitle</title>
    @* Template css references *@
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    @if (IsRtl)
    {
        <link href="~/assets/css/minified/bootstrap.min.rtl.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/minified/core.min.rtl.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/minified/components.min.rtl.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    }
    else
    {
        <link href="~/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    }
    <link href="~/assets/css/croppic.css" rel="stylesheet" />


    <link href="~/assets/css/jquery.treetable.theme.default.css" rel="stylesheet" />
    <link href="~/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.orgchart.css" rel="stylesheet" />


    @* CSS for the persian datepicker *@
    <link href="~/custom/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    @* Overriden other classes*@
    <link href="~/custom/css/hrmis.css" rel="stylesheet" />
    @*Treetable Css file*@
    <link href="~/custom/css/jquery.treetable.css" rel="stylesheet" />
    <style>
        tr.row-selected button.btn-link {
            color: white;
        }

        .modal-width {
            width: 70%;
        }

        .fixed-top {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1030;
        }

        body {
            padding-top: 50px;
        }

        .sidebar-fixed {
            position: fixed;
            width: 14%;
        }

        .nav .dropdown-toggle {
            height: 50px;
        }
        .mds-bootstrap-persian-datetime-picker-container .btn {
            box-shadow: none;
            border: 1px solid #cfd3df;
            height: 27px;
        }
    </style>
</head>
<body>
    <div id="overlay">
        <div class="centered">
            <img src="~/custom/images/iarcsc.gif" class="centered" style="margin-left: auto; margin-right: auto;" />
        </div>
    </div>
    <!-- Main navbar -->
    <div class="navbar navbar-fixed-top" style="background: #fff; box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); color: #444;">
        <div class="navbar-header ">
            <a class="navbar-brand" href="/index">
                <img src="~/assets/icons/home.png" style="width:30px; height:30px;margin-top:-5px;" />

                @*<img src="~/assets/img/govlogo.png" style="width:52px; height:52px" />*@
                <span>
                    @Clean.Common.AppConfig.ApplicationTitle
                </span>
            </a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <partial name="_LanguagePartial" />
            <partial name="_LoginPartial" />
        </ul>
    </div>

    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-10 col-md-offset-1 main-content">
                                @RenderBody()
                                <div class="dependent-screens">
                                </div>
                                <div class="modal-screens">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development,Production">
        <script type="text/javascript" src="~/assets/js/plugins/loaders/pace.min.js"></script>
        <script type="text/javascript" src="~/assets/js/core/libraries/jquery.min.js"></script>
        @if (IsRtl)
        {
            <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.rtl.js"></script>
        }
        else
        {
            <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.js"></script>
        }
        <script type="text/javascript" src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
        <script type="text/javascript" src="~/assets/js/plugins/notifications/jgrowl.min.js"></script>
        <script type="text/javascript" src="~/assets/js/plugins/forms/validation/validate.min.js"></script>
        <script src="~/assets/js/plugins/uploaders/fileinput.min.js"></script>


        @*<script type="text/javascript" src="~/assets/js/plugins/visualization/echarts/echarts.js"></script>*@
        @*<script type="text/javascript" src="~/assets/js/charts/echarts/pies_donuts.js"></script>*@

        <script src="~/assets/js/plugins/forms/selects/select2.min.js"></script>

        <script src="~/custom/js/jquery.md.bootstrap.datetimepicker.js"></script>
        <script src="~/assets/js/plugins/forms/validation/localization/messages_fa.js"></script>
        <script src="~/assets/js/plugins/croppic/croppic.js"></script>

        <script src="~/assets/js/plugins/treetable/jquery.treetable.js"></script>
        <script src="~/assets/js/plugins/html2convas/html2canvas.js"></script>
        <script src="~/assets/js/plugins/orgchart/jquery.orgchart.js"></script>

        <script src="~/assets/js/plugins/clean/clean.js"></script>
        <script src="~/assets/js/plugins/clean/clean.page.js"></script>
        <script src="~/assets/js/plugins/clean/clean.form.js"></script>
        <script src="~/assets/js/plugins/clean/clean.actionmenu.js"></script>
        <script src="~/assets/js/plugins/clean/clean.tazkira.js"></script>

        <script src="~/assets/js/plugins/nav_sidebar/layout_fixed_sidebar_custom.js"></script>
        <script src="~/assets/js/plugins/nav_sidebar/perfect_scrollbar.min.js"></script>
    </environment>

    <script>
        $(document).ready(function () {
            clean.init();
        });
    </script>


    @RenderSection("PageScripts", required: false)

</body>
</html>