@page
@model Clean.UI.Pages.Passport.Register.Prints.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>پرنت فرمه درخواست متقاضی</title>

    <link href="~/assets/css/page.css" rel="stylesheet" /> 
    <link href="~/assets/css/print.css" rel="stylesheet" />
    <link href="~/assets/css/printing.css" rel="stylesheet" />
    
    <script src="~/assets/js/core/libraries/jquery.min.js"></script>
    <script src="~/assets/js/plugins/barcode/jquery-barcode.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#dvBarcode").html("").barcode('@Model.ApplicationCode', 'code39', { barWidth: 2, barHeight: 50 });
            $("#ApplicationCode").html("").barcode('@Model.ApplicationCode', 'code39', { barWidth: 2, barHeight: 50 });
            $("#ProfileCode").html("").barcode('@Model.ProfileCode', 'code39', { barWidth: 2, barHeight: 50 });
        });

    </script>

</head>
<body >

    <div id="form" class="div-mainform div-form" style="margin-right:auto; margin-left:auto;">
        <table>
            <thead>
                <tr>
                    <th>
                        <img src="~/assets/img/MoFA.png" style="width:110px; height:110px;" />
                    </th>
                    <th colspan="2">
                        <br /><br />
                        <h3 style="text-align: left;">Islamic Republic Of Afghanistan</h3>
                        <h3 style="text-align: left;">Ministry Of Foreign Affairs</h3>
                        <h3 style="text-align: left;">Passport Application</h3><br />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3" align="center">
                        <table width="100%">

                            <tr>
                                <td colspan="4">
                                    <label>Applicant Information : </label>
                                    <hr />
                                </td>
                            </tr>

                            <tr>


                                <td valign="top">
                                    <div class="">
                                        <div>
                                            <img src="@Model.ProfilePhoto" style="width:120px; height:140px;" />
                                        </div>
                                    </div>
                                </td>
                                <td width="90%" valign="top">

                                    <table width="100%" class="table-bordered" style="margin:2px; padding:20px;">
                                        <tr>
                                            <td><label>Name</label> :  <span>@Model.Name</span></td>

                                            <td> <label>Family Name</label> :  <span>@Model.LastName</span></td>

                                            <td><label>Father Name</label> :  <span>@Model.FatherName</span></td>

                                            <td><label>Grand Father Name </label> :  <span>@Model.GrandFatherName</span></td>

                                        </tr>

                                        <tr>
                                            <td><label>Gender </label> :  <span>@Model.Gender</span></td>

                                            <td><label>Residence Country</label> :  <span>@Model.CurrentCountry</span></td>

                                            <td><label>Birth Country</label> :  <span>@Model.BirthLocation</span></td>

                                            <td><label>Date Of Birth </label> :  <span>@Model.DoB</span></td>

                                        </tr>

                                        <tr>

                                            <td colspan="4"><label>Tazkira</label> : <span>@Model.Tazkira </span></td>

                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <div id="dvBarcode" class="barcode" style="font-family:sans-serif; height:20%; width:50%; margin-right:auto; margin-left:auto;"></div>
                                            </td>
                                        </tr>
                                    </table>

                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%">
                                        <tr>
                                            <td colspan="4">

                                                <label>Application Information : </label>
                                                <hr />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <table width="100%" class="table-bordered" style="margin:2px; padding:20px;">

                                                    <tr>
                                                        <td><label>Passport Type </label> :  <span>@Model.PassportType</span></td>

                                                        <td colspan="3"><label>Requesting Office </label> :  <span>@Model.OfficeName</span></td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <hr />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <table width="100%" class="table-bordered" style="margin:2px; padding:20px;">
                                                    <tr>
                                                        <td>For Office Use Only : </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="4">
                                                <br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">

                                                <label>Applicant Information : </label>
                                                <hr />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <table width="100%" class="table-bordered" style="margin:2px; padding:20px;" >
                                        <tr>
                                            <td colspan="4">
                                                <label>Application Code</label>
                                                <div id="ApplicationCode"  class="barcode"></div>
                                            </td>
                                        </tr>
                                    <tr>
                                        <td colspan="4">
                                            <label>Profile Code</label>
                                            <div id="ProfileCode" class="barcode"></div>
                                        </td>
                                    </tr>
                                        <tr>
                                            <td><label>Name</label> :  <span>@Model.Name</span></td>

                                            <td> <label>Family Name</label> :  <span>@Model.FatherName</span></td>

                                            <td><label>Father Name</label> :  <span>@Model.FatherName</span></td>

                                            <td><label>GrandFather Name</label> :  <span>@Model.GrandFatherName</span></td>

                                        </tr>
                                        <tr>
                                            <td><label>Passport Type</label> :  <span>@Model.PassportType</span></td>
                                            <td colspan="2"><label>Passport Duration</label> :  <span>@Model.PassportDuration</span></td>
                                            <td><label>Paid Amount</label> :  <span>@Model.AmountPaid</span></td>

                                        </tr>
                                    </table><br />
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3">
                        <br /><hr /><br />
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label>Authorization Clark</label><br />
                        <label>( ........................... )</label>
                    </td>

                    <td align="center">
                        <label>Control Clark</label><br />
                        <label>( ........................... )</label>
                    </td>
                    <td align="center">
                        <label>Entry Clark :</label><br />
                        <label>( ........................... )</label>
                    </td>
                </tr>
            </tfoot>

        </table>





    </div>


</body>
</html>
