@page "{handler?}/{id?}"
@model Clean.UI.Pages.Settings.OccupationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Occupation";
    Layout = null;
}

@Html.AntiForgeryToken()

<div class="panel panel-flat" >
    <div class="panel-heading">
        <h1 class="panel-title">@_localizer["وظایف مربوطه ارگان"]</h1>
    </div>
    <div class="panel-body">

        <form id="dv_Settings_Occupation" class="form sub-form page-component" type="form" parent="dv_Settings_Organization" parentcol="OrganizationId" prefix="uxc">
            <fieldset class="content-group">
                <legend>@_localizer["جهت ثبت معلومات وظایف ارگان‌ها از این بخش استفاده کنید"]</legend>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["نام"]
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input type="text" id="uxctitle" name="uxcTitle" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <label class="text-bold">
                                @_localizer["نام (انگلیسی)"]
                            </label>
                            <input type="text" id="uxctitleen" name="uxcTitleEN" class="form-control">
                        </div>
                    </div>
                </div>


            </fieldset>
            <hr />
            <div class="row div-form-control">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" action="save" class="btn btn-primary"><i class="icon-floppy-disk position-left"></i>ثبت کاربر</button>
                        <button type="button" action="new" class="btn btn-primary"><i class="icon-new-tab position-left"></i>جدید</button>
                        <button type="button" action="search" class="btn btn-primary"><i class="icon-search4 position-left"></i>جستجو</button>
                    </div>
                </div>
            </div>

            <div class="form-grid main-form-details">
                <table  bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="organization">@_localizer["اداره"]</th>
                            <th colname="title">@_localizer["نام"]</th>
                            <th colname="titleen">@_localizer["نام (انگلیسی)"]</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </form>
    </div>
</div>

