@page "{handler?}"
@model Clean.UI.Pages.Settings.Passport.DiscountsModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Discounts";
}

@Html.AntiForgeryToken()
<div class="panel panel-flat" >
    <div class="panel-heading">
        <h1 class="panel-title">@_localizer["تخفیف های پاسپورت"]</h1>
    </div>
    <div class="panel-body">
        <form id="dv_Settings_Passport_Discounts" class="form main-form page-component" type="form" prefix="uxd">
            <fieldset class="content-group">
                <legend class="text-bold">@_localizer["ثبت و ویرایش تخفیف های پاسپورت"]</legend>
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["اداره"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxdofficeid" name="uxdOfficeID" asp-items="@Model.ListOfOffices" class="select search" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["نوعیت تخفیف"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxddiscounttypeid" name="uxdDiscountTypeID" asp-items="@Model.ListOfDiscountType" class="select search" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12 ">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["نام تخفیف"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input type="text" id="uxdname" name="uxdName" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12 ">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["مقدار/قیمت"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input type="number" id="uxdamount" name="uxdAmount" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">فعال | ‌غیر فعال</label>
                                <input type="checkbox" class="checkbox" id="uxdisactive" name="uxdIsActive" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["تاریخ شروع شمسی"]
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxdactivefromshamsi" name="uxdActiveFromShamsi" class="form-control Shamsi" sibling="uxdactivefrom" placeholder="@_localizer["تارخ شروع شمسی"]" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["تاریخ شروع"]
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxdactivefrom" name="uxdActiveFrom" class="form-control Miladi" sibling="uxdactivefromshamsi" placeholder="@_localizer["تاریخ شروع میلادی"]" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["تاریخ ختم شمسی"]
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxdactivetoshamsi" name="uxdActiveToShamsi" class="form-control Shamsi" sibling="uxdactiveto" placeholder="@_localizer["تارخ ختم شمسی"]" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["تاریخ ختم"]
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxdactiveto" name="uxdActiveTo" class="form-control Miladi" sibling="uxdactivetoshamsi" placeholder="@_localizer["تاریخ ختم میلادی"]" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control main-form-details">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i>جستجو </button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>صفحه جدید </button>
                    </div>
                </div>
            </div>
            <div class="form-grid main-form-details" style="">
                <table  bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="office">@_localizer["اداره"]</th>
                            <th colname="name">@_localizer["نام"]</th>
                            <th colname="discounttype">@_localizer["نوعیت"]</th>
                            <th colname="amount">@_localizer["مقدار/قیمت"]</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>