@page "{handler?}"
@model Clean.UI.Pages.Settings.Passport.PassportTypeModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "PassportType";
}

@Html.AntiForgeryToken()
<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">@_localizer["نوعیت پاسپورت"]</h1>
    </div>
    <div class="panel-body">
        <form id="dv_Settings_Passport_PassportType" class="form main-form page-component" type="form" prefix="or">
            <fieldset class="content-group">
                <legend class="text-bold">@_localizer["ثبت و ویرایش نوعیت پاسپورت"]</legend>
                <div class="col-md-12 pull-right">
                    <div class="row">
                        <div class="col-md-4 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["کود"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input type="text" id="orcode" name="orCode" class="form-control search" required />
                            </div>
                        </div>
                        <div class="col-md-4 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["نوعیت پاسپورت"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input type="text" id="orname" name="orName" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["تعداد نمبر سریال"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input type="number" id="orseriallength" name="orSerialLength" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control main-form-details">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-right"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-right"></i>جستجو </button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-right"></i>صفحه جدید </button>
                    </div>
                </div>
            </div>
            <div class="form-grid main-form-details" style="">
                <table style="direction: rtl;" bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="code">@_localizer["کود"]</th>
                            <th colname="name">@_localizer["نام"]</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="dependent-screens">

    <div class="panel panel-flat" style="direction: rtl;">
        <div class="panel-heading">
            <h1 class="panel-title">@_localizer["زمان اعتبار پاسپورت"]</h1>
        </div>
        <div class="panel-body">

            <form id="dv_Settings_Passport_Duration" class="form sub-form page-component" type="form" parent="dv_Settings_Passport_PassportType" parentcol="PassportTypeId" prefix="uxd">
                <fieldset class="content-group">
                    <legend>@_localizer["ثبت مدت زمان اعتبار پاسپورت"]</legend>
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["تعداد ماه"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input type="number" id="uxdmonths" name="uxdMonths" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="row div-form-control">
                    <div class="col-md-12">
                        <div class="form-group actions">
                            <button type="button" action="save" class="btn btn-primary"><i class="icon-floppy-disk position-right"></i>@_localizer["ثبت معلومات"]</button>
                            <button type="button" action="new" class="btn btn-primary"><i class="icon-new-tab position-right"></i>@_localizer["جدید"]</button>
                        </div>
                    </div>
                </div>

                <div class="form-grid main-form-details">
                    <table style="direction:rtl" bindonclick="true">
                        <thead>
                            <tr>
                                <th colname="PassportType">@_localizer["نوعیت پاسپورت"]</th>
                                <th colname="Months">@_localizer["تعداد ماه"]</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </form>
        </div>
    </div>

</div>