@page "{handler?}"
@model Clean.UI.Pages.Settings.Passport.PaymentPenaltyModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "PaymentPenalty";
}

@Html.AntiForgeryToken()
<div class="panel panel-flat" >
    <div class="panel-heading">
        <h1 class="panel-title">@_localizer["تنظیمات جریمه‌های نقدی"]</h1>
    </div>
    <div class="panel-body">
        <form id="dv_Settings_Passport_PaymentPenalty" class="form main-form page-component" type="form" prefix="uxd">
            <fieldset class="content-group">
                <legend class="text-bold">@_localizer["ثبت و ویرایش جریمه‌های نقدی"]</legend>
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    @_localizer["اداره"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <select id="uxdofficeid" name="uxdOfficeID" asp-items="@Model.ListOfOffices" class="select search" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12 ">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["نام جریمه"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input type="text" id="uxdtitle" name="uxdTitle" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12 ">
                            <div class="form-group">
                                <label class="text-bold">
                                    @_localizer["مقدار/قیمت"]
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <input type="number" id="uxdamount" name="uxdAmount" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">@_localizer["فعال | ‌غیر فعال"]</label>
                                <input type="checkbox" class="checkbox" id="uxdisactive" name="uxdIsActive" />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control main-form-details">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i>جستجو </button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>صفحه جدید </button>
                    </div>
                </div>
            </div>
            <div class="form-grid main-form-details" style="">
                <table  bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="office">@_localizer["اداره"]</th>
                            <th colname="title">@_localizer["نام"]</th>
                            <th colname="status">@_localizer["نوعیت"]</th>
                            <th colname="amount">@_localizer["مقدار/قیمت"]</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>